XML_FINAL_PROJECT/action.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Action" type="ActionType"/>
    <xs:complexType name="ActionType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="passport"/>
            <xs:element type="xs:string" name="dob"/>
            <xs:element type="xs:string" name="phoneNumber"/>
            <xs:element type="xs:string" name="email"/>
            <xs:element type="xs:string" name="score"/>
            <xs:element type="xs:string" name="accountType"/>
            <xs:element type="xs:string" name="gender"/>
            <xs:element type="xs:string" name="cardID"/>
            <xs:element  name="Type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="INSERT"/>
                        <xs:enumeration value="UPDATE"/>
                        <xs:enumeration value="INCREASE"/>
                        <xs:enumeration value="DECREASE"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>